<div class="title">
    <p>name</p>
    <p>price</p>
    <p>quantity</p>
</div>
<div class="content">
    @for (item of port1Data; track $index) {
    <div class="main-data">
        <p>{{ item.insId }}</p>
        <p>{{ item.quantity }}</p>
    </div>
    }
    @for (item of port2Data; track $index) {
    <div class="main-data">
        <p>{{ item.insId }}</p>
        <p>{{ item.quantity }}</p>
    </div>
    }
</div>
<div class="buttons">
    <button (click)="getPort1Data()">show port 1</button>
    <button (click)="getPort2Data()">show port 1</button>
    <button (click)="updateIdToName()">mw</button>
</div>